{
  "presets": [["@babel/preset-env", { "module": false }]],
  "plugins": [
    // "external-helpers"
    // [
    //   "@babel/plugin-transform-runtime",
    //   {
    //     "corejs": 3
    //   }
    // ]
  ]
}
